@model Ginecologia_Ingequimed.Models.Paterno

@{
    ViewData["Title"] = "Create";
}

    <center><h1 style="color:#8A0829"><font size="6">Ingresa los Datos de tus Familiares</font></h1></center>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre_Pariente" class="control-label"></label>
                <input asp-for="Nombre_Pariente" class="form-control" />
                <span asp-validation-for="Nombre_Pariente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parentesco" class="control-label"></label>
                <input asp-for="Parentesco" class="form-control" />
                <span asp-validation-for="Parentesco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enfermedad" class="control-label"></label>
                <input asp-for="Enfermedad" class="form-control" />
                <span asp-validation-for="Enfermedad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="background-color:#F5CBA7" type="submit" value="Create" class="btn btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><font style="color:#424949">Regresar</font></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
