@model IEnumerable<Ginecologia_Ingequimed.Models.Preeclampsia>

@{
    ViewData["Title"] = "Index";
}

<center>
    <h2 style="color:#61051c">Preeclampsia</h2>
    <br>
    <img src="~/img/2.jpg" width="300" height="300">
</center>
    <br>
    <p><font size="2">
        Se define como una hipertensión materna que aparece después de la semana 20 y que se acompaña de cifras de proteína en orina mayores o iguales a 300mg en 24 horas, lo que llamamos proteinuria. Hablamos de hipertensión gestacional cuando se alcanzan cifras tensionales sistólicas mayores o iguales a 140 mm de Hg y/o diastólicas mayores o iguales de 90 mm de Hg. La preeclampsia se puede clasificar en leve o grave según las cifras tensionales, de proteinuria y/o que se acompañen de signos o síntomas de afectación orgánica. Estamos ante una preeclampsia grave cuando las tensiones arteriales sistólicas son mayores o iguales a 160 mm de Hg y/o diastólicas mayores o iguales a 110 mm de Hg, la presencia de proteínas en orina de 24 horas es mayor o igual a 2 gramos, y/o presentación de síntomas neurológicos, alteraciones visuales, gran disminución del volumen de orina (menor a 500ml/día), crecimiento intrauterino retardado (CIR fetal), plaquetas maternas menores a 100.000, etc.
    </font></p>

    <br>
    <h4 style="color:#61051c">Síntomas Preeclampsia</h4>
    <p><font size="2">
        Normalmente la madre que sufre preeclampsia se siente saludable, por eso hay que estar atentos a señales de alarma como un aumento de peso por encima de 1 kilo a la semana o un aumento de peso repentino en uno o dos días. La hinchazón de manos, cara y ojos también son sintomáticos –aunque una ligera hinchazón de pies y tobillos es normal-. Una señal inequívoca de preeclampsia es el dolor de cabeza que no remite y que es pulsátil. Otros síntomas pueden ser: Dolor abdominal, debajo de las costillas y sobre todo en el lado derecho. A veces, se confunde con acidez. No orinar con frecuencia. Náuseas y vómitos excesivos o cambios en la visión como auras, fotosensibilidad o visión borrosa, es ya un signo preocupante.
    </font></p>
    <br>
    <h4 style="color:#61051c">Pronóstico de la preeclampsia</h4>
    <p><font size="2">
        La placenta de la madre con preeclampsia no permite que al feto le lleguen los nutrientes y el oxígeno necesario para su correcto desarrollo. Esta carencia puede provocar un bajo peso al nacer y otras complicaciones. Pero su detección precoz permite que hoy en día la mayoría de las embarazadas que la presentan finalmente den a luz bebés saludables. Sólo en las situaciones de preeclampsia grave no controlada adecuadamente o de mala evolución pueden existir graves riesgos maternos-fetales, pudiéndose desencadenar un cuadro de eclampsia materna (con convulsiones), accidentes cerebrovasculares, fracaso hepatorrenal, desprendimiento placentario, edema de pulmón, tromboembolismos, alteraciones en la coagulación, etc., incluso la muerte materno-fetal.
    </font></p>
    <br>
    <h4 style="color:#61051c">Causas preeclampsia</h4>
    <p><font size="2">
        Aunque no se conoce con exactitud la causa exacta de la preeclampsia, sabemos que hay ciertos factores que provocan esta complicación en el embarazo y que convierte a la madre en una paciente de riesgo. Se consideran posibles causas una alteración genética, un trastorno autoinmune, una situación derivada de problemas vasculares o una dieta inapropiada. También hay una serie de factores de riesgo que influyen en su desarrollo, como por ejemplo, que sea el primer embarazo, un embarazo múltiple, ser mayor de 35 años, obesidad o antecedentes de diabetes, hipertensión arterial o enfermedad renal.
    </font></p>
    <br>
    <h4 style="color:#61051c">Prevenir la preeclampsia</h4>
    <p><font size="2">
        Como con el resto de trastornos asociados al embarazo, el cuidado prenatal es fundamental. Esto permitirá que el médico detecte y trate la afección desde el primer momento evitando complicaciones. No hay ningún tratamiento conocido para evitar la preeclampsia, aunque ayuda una buena dieta durante la gestación y la práctica de ejercicio físico moderado y controlado por su médico. Solo en la población obstétrica con factores de riesgo (obesidad, preeclampsia previa, diabetes miellitus, gestación múltiple, hipertensión crónica, insuficiencia renal) se ha podido comprobar que la administración de aspirina a baja dosis puede disminuir la incidencia de preeclampsia y la tasa de morbilidad perinatal.
    </font></p>




