@model IEnumerable<Ginecologia_Ingequimed.Models.SindromePremestrual>

@{
    ViewData["Title"] = "Index";
}

<center>
    <h3 style="color:#61051c">Sindrome Premestrual</h3>
    <br>
    <img src="~/img/1.jpg">
</center>
    <br><br><br>
    <p><font size="2">
        En conclusión podemos decir que el SPM es un problema importante de salud en los países desarrollados, y que las mujeres que lo padecen experimentan una disminución importante de su calidad de vida, por lo que las recomendamos que acudan a su ginecólogo, ya que una vez establecido el diagnóstico con una adecuada historia clínica, podemos instaurar un tratamiento, que si no soluciona, al menos mitiga de forma importante los síntomas, mejorando sustancialmente la calidad de vida de las mismas.
    </font></p>

    <br>
    <center>
        <h4 style="color:#61051c">Síntomas de la Premenstruación</h4>
    </center>
        <br>
        <br>

        <h5 style="color:#61051c">1. Síntomas físicos: </h5>
        <p><font size="2">
            Destacan el dolor de cabeza, la mastodinia o dolor mamario y los dolores articulares y musculares.
        </font></p>

        <h5 style="color:#61051c">2. Síntomas neurovegetativos: </h5>
        <p><font size="2">
            Se encuentran entre los que producen una perdida mayor de la calidad de vida de las pacientes, y entre ellos destaca el insomnio, la necesidad compulsiva de comer ciertos alimentos generalmente hipercalóricos, el cansancio y la disminución de la libido.
        </font></p>

        <h5 style="color:#61051c">3. Síntomas del sistema nervioso: </h5>
        <p><font size="2">
            Mareos, vértigos y temblores.
        </font></p>

        <h5 style="color:#61051c">4. Síntomas digestivos:  </h5>
        <p><font size="2">
            Nauseas o vómitos, diarrea, distensión abdominal.
        </font></p>

        <h5 style="color:#61051c">5. Síntomas hidroelectrolíticos: </h5>
        <p><font size="2">
            Disminución de la cantidad de orina, edemas y retención de liquido.
        </font></p>

        <h5 style="color:#61051c">6. Síntomas dermatológicos: </h5>
        <p><font size="2">
            Aumento de grasa en el pelo, acné.
        </font></p>

