@model IEnumerable<Ginecologia_Ingequimed.Models.Enfermedades>

@{
    ViewData["Title"] = "Index";
}

    <center>
        <table class="table table-bordered">
            <thead>

                <tr>
                    <th scope="col"><center><img src="~/img/1.jpg" width="230" height="230" /></center></th>
                    <th scope="col"><center><img src="~/img/2.jpg" width="230" height="230" /></center></th>
                    <th scope="col"><center><img src="~/img/3.jpg" width="230" height="230" /></center></th>
                    <th scope="col"><center><img src="~/img/4.jpg" width="230" height="230" /></center></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><center><a type="button" style="background-color:#cab4b4" href="https://localhost:44361/SindromePremestruales" class="btn btn"><font style="color:black">Síndrome Premenstrual</font></a></center></th>
                    <th><center><a type="button" style="background-color:#cab4b4" href="https://localhost:44361/Preeclampsias" class="btn btn"><font style="color:black">Preeclampsia</font></a></center></th>
                    <td><center><a type="button" style="background-color:#cab4b4" href="https://localhost:44361/Amenorreas" class="btn bt-dark"><font style="color:black">Amenorreas</font></a></center></td>
                    <th><center><a type="button" style="background-color:#cab4b4" href="https://localhost:44361/Diabetesgestacionales" class="btn btn"><font style="color:black">Diabetes gestional</font></a></center></th>
                </tr>
            </tbody>
            <thead>

                <tr>
                    <th scope="col"><center><img src="~/img/5.jpg" width="230" height="230" /></center></th>
                    <th scope="col"><center><img src="~/img/6.jpg" width="230" height="230" /></center></th>
                    <th scope="col"><center><img src="~/img/7.jpg" width="230" height="230" /></center></th>
                    <th scope="col"><center><img src="~/img/8.jpg" width="230" height="230" /></center></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><center><a type="button" style="background-color:#cab4b4" href="https://localhost:44361/Toxoplasmoses" class="btn btn"><font style="color:black">Toxoplasmosis</font></a></center></th>
                    <th><center><a type="button" style="background-color:#cab4b4" href="https://localhost:44321/Saluds" class="btn btn"><font style="color:black">Menopausia</font></a></center></th>
                    <td><center><a type="button" style="background-color:#cab4b4" href="https://localhost:44321/Saluds" class="btn bt-dark"><font style="color:black">Infertilidad</font></a></center></td>
                    <th><center><a type="button" style="background-color:#cab4b4" href="https://localhost:44321/Saluds" class="btn btn"><font style="color:black">Endometriosis</font></a></center></th>
                </tr>
            </tbody>
            <thead>

                <tr>
                    <th scope="col"><center><img src="~/img/9.jpg" width="230" height="230" /></center></th>
                    <th scope="col"><center><img src="~/img/10.jpg" width="230" height="230" /></center></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><center><a type="button" style="background-color:#cab4b4" href="https://localhost:44321/Saluds" class="btn btn"><font style="color:black">Ovarios Poliquísticos</font></a></center></th>
                    <th><center><a type="button" style="background-color:#cab4b4" href="https://localhost:44321/Saluds" class="btn btn"><font style="color:black">Mioma Uterino</font></a></center></th>
                </tr>
            </tbody>
        </table>
    </center>