@model IEnumerable<Ginecologia_Ingequimed.Models.Toxoplasmosis>

@{
    ViewData["Title"] = "Index";
}

<center>
    <h3 style="color:#61051c">Toxoplasmosis</h3>
    <br>
    <img src="~/img/5.jpg" width="300" height="300">
</center>
<br>
<br>

<center><h5 style="color:#61051c">¿Qué es la toxoplasmosis?</h5></center>
<p>
    <font size="2">
        La Toxoplasmosis es una enfermedad producida por un parásito llamado *Toxoplasma gondii* Se trata de una de las **infecciones más comunes a nivel mundial** pero si afecta a la mujer durante el embarazo, la salud del bebé puede correr serios riesgos.

        Se trata de una enfermedad asintomática y es bastante común que se pase la enfermedad sin darse cuenta. La infección activa sólo ocurre una vez en la vida y, a partir de ese momento, se generan anticuerpos que nos vuelven inmunes a una nueva infección.

        La infección por toxoplasmosis se da al comer carne cruda o poco hecha, o al entrar en contacto con la materia fecal de los gatos.
    </font>
</p>
<br>

<center><h5 style="color:#61051c"><font size="5">¿Qué síntomas presenta la toxoplasmosis?</font></h5></center>
<p>
    <font size="2">
        **La mayoría de los casos de Toxoplasmosis son asintomáticos**. Por eso, es muy importante vigilar la salud de la embarazada –si en las analíticas de control no se detectan anticuerpos, se mantienen la vigilancia en las siguientes analíticas-, ya que esta infección puede resultar fatal para el bebé, causando secuelas graves e, incluso, provocar un aborto. También es peligroso en pacientes inmunodeprimidos.

        Algunas personas presentan **síntomas similares a los de la mononucleosis infecciosa**: inflamación de las glándulas, cansancio, dolores musculares, malestar y fiebre que puede persistir hasta un mes.
    </font>
</p>
<br>

<center><h5 style="color:#61051c"><font size="5">¿Qué tratamiento tiene la toxoplasmosis?</font></h5></center>
<p>
    <font size="2">
        Cuando hay sospecha de que **una embarazada esté infectada,** hay que realizar una analítica específica y controlada por un laboratorio especializado en el diagnóstico de la toxoplasmosis para evitar falsos resultados.

        Si se detecta en el primer trimestre del embarazo, se puede tratar la infección con antibiótico –espiramicina-, que reduce en un 60% la posibilidad de que se le trasmita la infección al feto. También está indicado practicar una amniocentesis que confirme si el feto está infectado. Si el resultado es positivo, deberá ser el médico el que determine si se le administra un **tratamiento de pirimetamina y sulfadiazina**, para reducir la gravedad de la enfermedad en el bebé.
    </font>
</p>
<br>

<center><h5 style="color:#61051c"><font size="5">¿Qué pronóstico ofrece?</font></h5></center>
<p>
    <font size="2">
        Si una embarazada se infecta, existe un 30% de posibilidades de que lo transmita al feto. El riesgo y la gravedad de esta infección dependerá del mes de gestación. Cuanto más avanzado esté más probabilidad de transmisión, aunque por el contrario, cuanto más temprano más graves serán las consecuencias en el bebé. La Toxoplasmosis puede provocar desde retraso en el crecimiento intrauterino –bebés con bajo peso-, a malformaciones, daños oculares o, incluso, un aborto.
    </font>
</p>
<br>

<center><h5 style="color:#61051c"><font size="5">  ¿Cuáles son las causas de la toxoplasmosis?</font></h5></center>
<p>
    <font size="2">
        La Toxoplasmosis se origina por la transmisión de este parásito, bien sea por la ingestión de carne contaminada cruda o poco hecha, embutidos curados, por **consumo de agua contaminada por este parásito** o verduras mal lavadas y en las que puede haber habido restos de heces de gato.

        La transmisión del parásito es únicamente por vía oral, es decir, pasa al sistema digestivo a través de la boca. Se puede producir el contagio a través de utensilios de cocina mal lavados, por entrar en **contacto con restos de heces de gato tras limpiar la bandeja con las manos desnudas** y, sin haberlas lavado, llevarlas a la boca o manipular alimentos que luego nos comemos.
    </font>
</p>
<br>

<center><h5 style="color:#61051c"><font size="5">Prevenir la toxoplasmosis</font></h5></center>
<p>
    <font size="2">
        Prevenir la infección es posible, simplemente llevando a cabo unas normas de higiene y limpieza rigurosas en la manipulación de alimentos y en la convivencia con los gatos:
    </font>
</p>
<ul>
    <li><font size="2">Utilizar guantes en el jardín o en cualquier actividad en la que se manipule tierra</font></li>

    <li><font size="2">Lavarse siempre las manos con agua y jabón tras estar en contacto con tierra, también debajo de las uñas</font></li>

    <li><font size="2">Si preparamos carne cruda, lavar con agua caliente y jabón todos los utensilios que hayan estado en contacto con la carne, para evitar contaminar otros alimentos</font></li>

    <li><font size="2">Lavar con agua y unas gotas de lejía verduras y frutas</font></li>

    <li><font size="2">Cocinar la carne hasta un punto en el que el centro ya no presente color rosado. No comer carne cruda o poco hecha durante el embarazo.</font></li>

    <li><font size="2">No vaciar ni limpiar las bandejas de arena con heces de gato, que lo haga otra persona. La bandeja debe limpiarse diariamente ya que el parásito no se vuelve infeccioso hasta después de 24 horas.</font></li>

    <li><font size="2">Dejar al gato dentro de casa para impedir que coma animales infectados o que entre en contacto con el parásito en tierra infectada</font></li>
</ul>
<br>

