@model IEnumerable<Ginecologia_Ingequimed.Models.Amenorrea>

@{
    ViewData["Title"] = "Index";
}

<center>
    <h3 style="color:#61051c">Amenorreas</h3>
    <br>
    <img src="~/img/3.jpg" width="300" height="300">
</center>
<br>
<br>
<br>
<p>
    <font size="2">
        Consiste en la ausencia temporal o permanente de la menstruación.
    </font>
</p>

<br>

<center><h5 style="color:#61051c">¿Cuál es el tratamiento de la Amenorrea? </h5></center>
<p>
    <font size="2">
        Múltiples son las causas de amenorrea tanto primaria como secundaria, y múltiples son los tratamientos, que dependerán del origen de la disfunción, en algunos casos el tratamiento es sencillo, otros directamente no tienen tratamiento. De ahí la importancia de acudir al especialista para un diagnóstico preciso en los casos en que esta patología se presente.
    </font>
</p>

<center><h5 style="color:#61051c"><font size="5">Causas de la Amenorrea</font></h5></center>
<ul>
    <li style="color:#61051c"><font size="3">Fisiológicas:</font></li>
    
        <p><font size="2">No requieren tratamiento.</font></p>
        <li>
            <font size="2">
                Antes de la pubertad:<br>
                La primera regla o menarquia, suele aparecer entre los 10 y 14 años.
            </font>
        </li>
        <li>
            <font size="2">
                Durante el embarazo:<br>
                Una mujer sana, joven y con menstruaciones regulares, que presente amenorrea y que tiene relaciones sexuales sin métodos anticonceptivos debe siempre pensar en un embarazo cuando presente amenorrea.
            </font>
        </li>
        <li>
            <font size="2">
                Lactancia:<br>
                Aunque de manera irregular, se presenta amenorrea por inhibición de las hormonas que estimulan la ovulación.
            </font>
        </li>
        <li>
            <font size="2">
                Menopausia:<br>
                Suele aparecer entre los 45-55 años por el cese de la función ovárica.
            </font>
        </li>
    </ul>
    <br>
    <li style="color:#61051c"><font size="3">Primaria:</font></li>
    <ul>
        <h1><font size="2">Ausencia de menstruación a los 16 años en presencia de caracteres sexuales secundarios o a los 14 años sin desarrollo de caracteres sexuales secundarios. Tiene una incidencia del 0.1%. El 60% son debidas a causa genética. El 40% restante es debido a trastornos endocrinológicos.</font></h1>
        <li>
            <font size="2">
                Causas uterinas:<br>
                Síndrome de Rokytansky (ausencia parcial o total de útero y vagina), Himen imperforado y Síndrome de Morris (mujer con cariotipo masculino XY).
            </font>
        </li>
        <li>
            <font size="2">
                Causas uterinas:<br>
                Síndrome de Ovario Poliquístico (trastorno que afecta hasta al 26% de población. Produce disfunción ovárica que puede producir amenorrea primaria y secundaria, además de acné y exceso de vello (hirsutismo)) y el Fallo ovárico prematuro (Síndrome de Turner y Digénesis gonadal, en ambos las mujeres no llegan a desarrollar ovarios funcionantes).
            </font>
        </li>
        <li>
            <font size="2">
                Causas uterinas:<br>
                Hipogonadismo hipogonadotropo (ausencia, por múltiples orígenes, de la secreción en el hipotálamo-hipófisis de hormonas gonadótropas: GnRH, FSH o LH), Distroﬁa olfativa o Síndrome de Kallman (ausencia de secreción en el hipotálamo de GnRH por causa genética), el ejercicio físico, el aumento o disminución de peso y causas psicógenas.
            </font>
        </li>
    </ul>
    <br>
    <li style="color:#61051c"><font size="3">Causas uterinas:</font></li>
    <ul>
        <p><font size="2">Falta de menstruación en una mujer que ya la ha tenido previamente y tras una ausencia superior a 6 meses.</font></p>
        <li>
            <font size="2">
                Causas uterinas:<br>
                Síndrome de Asherman (sinequias uterinas), Estenosis cervical, Tuberculosis genital y Endometritis (infección del endometrio).
            </font>
        </li>
        <li>
            <font size="2">
                Causas ováricas:<br>
                Síndrome de Ovario Poliquístico, Fallo ovárico prematuro (agotamiento de la reserva ovárica antes de los 40 años, puede ser por causa genética, autoinmune, infecciosa, por radioterapia o quimioterapia).
            </font>
        </li>
        <li>
            <font size="2">
                Causas hipotalámicas:<br>
                Pérdida de peso, ejercicio, estrés, anorexia nerviosa o causa idiopática (desconocida).
            </font>
        </li>
        <li>
            <font size="2">
                Causas hipofisiarias:<br>
                Hiperprolactinemia (elevación fuera de la lactancia de la hormona Prolactina), Hipopituitarismo (ausencia de producción de todas o alguna hormona hipofisiaria), Síndrome de Sheehan (infarto de la glándula hipofisiaria tras una hemorragia posparto), Craneofaringiomas, Radioterapia holocraneal, lesiones craneales, Sarcoidosis y Tuberculosis.
            </font>
        </li>
        <li>
            <font size="2">
                Causas sistémicas:<br>
                Diabetes Mellitus, Lupus, Trastornos endocrinos (como el Síndrome de Cushing o la patología tiroidea, tanto el hiper como el hipotiroidismo).O Drogas y fármacos: Cocaína, opiáceos, fármacos psicotropos (estimulantes como las anfetaminas, tambien tranquilizantes y antidepresivos), Progesterona y Análogos GnRh.
            </font>
        </li>
    </ul>
</ul>
<center><h5 style="color:#61051c">¿Qué pruebas conlleva el diagnóstico?</h5></center>
<li style="color:#61051c"><font size="3">Básicas:</font></li>
<ul>
    <li>
        <font size="2">
            Historia clínica dirigida, exploración física, ecografía ginecológica, estudios hormonales basales, test de gestágenos y test de estrógenos - progestágenos.
        </font>
    </li>
</ul>
<li style="color:#61051c"><font size="3">Requerimientos diagnósticos opcionales:</font></li>
<ul>
    <li>
        <font size="2">
            Pruebas de neuroimagen, Histeroscopia, histerosalpingografia, RMN, Eco 3D, urografía y estudios genéticos.
        </font>
    </li>
</ul>
