@model IEnumerable<Ginecologia_Ingequimed.Models.Salud>

@{
    ViewData["Title"] = "Index";
}

<br>
<br>
<br>
<center>
    <table class="table table-bordered">
        <thead>

            <tr>
                <th scope="col"><center><img src="~/img/fitness.jpg" width="280" height="400" /></center></th>
                <th scope="col"><center><img src="~/img/alimentacion.jpg" width="280" height="400" /></center></th>
                <th scope="col"><center><img src="~/img/embarazo.jpg" width="280" height="400" /></center></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><center><a type="button" style="background-color:#F5CBA7" href="https://localhost:44321/Saluds" class="btn btn"><font style="color:black">Fitness</font></a></center></th>
                <th><center><a type="button" style="background-color:#F5CBA7" href="https://localhost:44321/Saluds" class="btn btn"><font style="color:black">Alimentación</font></a></center></th>
                <td><center><a type="button" style="background-color:#F5CBA7" href="https://localhost:44321/Saluds" class="btn bt-dark"><font style="color:black">Embarazo</font></a></center></td>
            </tr>
        </tbody>
    </table>
</center>